data/myData/all_img
data/myData/test_img
data/myData/*.txt
data/MSU-MFSD/cropped
data/MSU-MFSD/*.txt
model/vgg_face_caffe.tar.gz
model/vgg_face_caffe/VGG_FACE.caffemodel
model/myData/snapshots
data/cbsr_antispoofing/
data/replayattack/
model/MSU-MFSD/
model/cbsr_antispoofing/
model/replayattack/
*.pyc
